* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  background-color: rgb(209, 209, 209);
}
.home {
  padding-top: 15vh;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
}
